
@color-background: #000;
@color-text: #fff;
@color-text-s: rgb(233, 233, 233);
@color-text-x: rgb(209, 209, 209);
@color-text-d: #ba1912;
@color-gray: rgb(168, 168, 168);

@font-size-small-s: 20rpx;
@font-size-small: 24rpx;
@font-size-medium: 28rpx;
@font-size-medium-x: 32rpx;
@font-size-large: 36rpx;
@font-size-large-x: 44rpx;

div{
  box-sizing: border-box;
}

.multiEllipsis(@x){
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: @x;
	overflow: hidden;
}
.filter(@x){
  filter: blur(@x);
  -ms-filter: blur(@x);
  -moz-filter: blur(@x);
  -webkit-filter: blur(@x); /* Chrome, Opera */
}
